=render "/static_pages/partials/subheader"
/ content begin
#content
  .container.project-view
    .row
      = form_for(@user,:url => registration_path(resource_name), :validate => true) do |f|
        = devise_error_messages!
        .feature-box.span3
          %h2 Account Details
          %div
            = f.label :email
            = f.email_field :email,:validate => true, :autofocus => true
          %div
            = f.label :password
            = f.password_field :password,:validate => true
          %div
            = f.label :password_confirmation
            = f.password_field :password_confirmation
          = f.fields_for :userprofile do |profile|
            %div
              = profile.label :first_name
              = profile.text_field :first_name,:validate => true
            %div
              = profile.label :last_name
              = profile.text_field :last_name,:validate => true
            %div
              = profile.label :company_name
              = profile.text_field :company_name
            %div
              = profile.label :age
              = profile.text_field :age
            %div
              = profile.label :phone
              = profile.text_field :phone
        .feature-box.span3
          = f.fields_for :userprofile do |profile|
            %h2 Personal Details
            %div
              = profile.label :address
              = profile.text_field :address
            %div
              = profile.label :mailing_address
              = profile.text_field :mailing_address
            %div
              = profile.label :country
              = profile.country_select :country, priority: %w(US CA), prompt: 'Please select a country'
            %div
              = profile.label :state
              = profile.text_field :state
            %div
              = profile.label :city
              = profile.text_field :city
            %div
              = profile.label :zip
              = profile.text_field :zip
        .feature-box.span3
          %h2 Payment Details
          %div
            %label Amount
            =f.text_field :amount
          %div
            %label Card Number
            =f.text_field :card_name, autocomplete: "off", "data-encrypted-name" => "braintree[credit_card][number]", size: "20", type: "text"
          %div
            %label CVV
            =f.text_field :cvv,autocomplete: "off", "data-encrypted-name" => "braintree[credit_card][cvv]", size: "4"
          %div
            %label Expiration (MM/YYYY)
            %input{"data-encrypted-name" => "braintree[credit_card][expiration_date]", size: "2", type: "text"}/
          / %input.submit-button{type: "submit"}/
          %div= f.submit "Sign up",:class=>'btn btn-extra-large btn-primary'




/ = render "devise/shared/links"

:css
  .subscription-table td{
    padding-right:100px;
  }
  .field_with_errors input{
    border: 1px dashed #FF624E;
  }
  .field_with_errors label.message{
    color:#FF624E;
  }
